AnchorPane{
    -fx-background-color: #f1f1f1;
}
Label{
    -fx-background-radius: 10;
    -fx-background-color: #e2e2e9;
    -fx-text-fill: #415f91;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius:10;
    -fx-font-weight: bold;
}
Button{
    -fx-background-color: #565f71;
    -fx-background-radius: 10;
    -fx-text-fill:#f9f9ff;
}
#cartel{
    -fx-text-fill: green;
    -fx-font-weight: bold;
}
Button:hover{
    -fx-background-color:black;
}